<h2>ngIf</h2>
<input type="checkbox" [(ngModel)]="ShowContentNgIf" > click here to toggle ngIf content.
<p *ngIf="ShowContentNgIf">
  This text is only visible when "ShowContentNgIf" is true.
  In fact, if it is false this element gets completely removed from the DOM.
</p>

<h2>ngFor</h2>
<p>The ngFor directive creates one element for each item in an array.</p>
<div class="flex-container">
  <div *ngFor="let item of ItemsNgFor" class="ngForItem">
    <P>{{item}}</P>
  </div>
</div>

<h2>ngSwitch</h2>
<input [(ngModel)]="StringExpressionNgSwitch" type="text"> enter an animal.
<div [ngSwitch]="StringExpressionNgSwitch">
  <p *ngSwitchCase="'cat'">The animal is a cat.</p>
  <p *ngSwitchCase="'dog'">The animal is a dog.</p>
  <p *ngSwitchDefault>The animal is neither a cat nor a dog.</p>

</div>
